dirty
*.o
*.d
*.d.*
*~
.DS_Store
docs/_build
*.fits
write_grain/*/*.dat
stock_dirty
.vscode
Dust
*.png
*.drt

# autotools
.version
.tarball-version
config.h.in*
.deps
config.h
stamp-h1
Makefile.in
aclocal.m4
config.log
config.status
configure
depcomp
dirty-*-g*.tar.gz
install-sh
missing
autom4te.cache
